body {
    font-family: "Lato", sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}


.nav {
  display: flex;
  justify-content: center;
  background-color: #1111;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 3;
}

.nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
  justify-content: center;
}

.nav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}


.aboutMe {
    background-image: url(https://i.imgur.com/AfT5tFj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #1111;
    height: 80vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    min-width: 800px;
}

img.aboutMePicture {
    opacity: 0.5;
}


.wordContainer {
    color: white;
    width: 50%;
    background-color: rgba(128, 128, 128, 0.5);
}

.projects {
  display: flex;
  justify-content: center;
}


.work1 {
  width: 40%;
  height: 40%;
  background-color: black;
  margin: 80px;
}

footer {
    height: 100px;
    background: #eee;
    text-align: center;
}



@media only screen and (max-width: 980px) {
.content{width:90%;}
}

@media only screen and (max-width: 568px) {
h1{padding:25px 0px;}
h1 span{display:block;}
}

@media only screen and (max-width: 480px) {
section {max-width: 90%;}
}

@media only screen and (max-width: 360px) {
h1{font-size:20px;}
label{padding:5px 0px;}
#logo{font-size: 20px;}
nav{top:47px;}
}

@media only screen and (max-width: 320px) {
h1 {padding: 20px 0px;}
















