body {
    font-family: 'Roboto', sans-serif;;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}




.nav {
  display: flex;
  justify-content: center;
  
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 3;
}

.nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
  justify-content: center;
}

.nav a:hover {
  color: black;
}

@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}


.aboutMe {
    /*background-image: url(https://i.imgur.com/YbTL7xU.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    /*border: 2px solid #1111;*/
    height: 80vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    min-width: 800px;
}

img.aboutMePicture {
    opacity: 0.5;
}


.wordContainer {
    color: white;
    width: 50%;
    
}

.statement {
  margin-top: 500px;
  text-align: center;
}

/*#projects {
  display: flex;
  flex-direction: row;
}*/

#petAdoption {
  display: flex;
  flex-direction: column;
}

.projectTitle {
  display: flex;
  justify-content: center;
}

.projectImage {
  display: flex;
  justify-content: center;
}

.projectStatement {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.work1 {
  display: flex;
  justify-content: center;
  width: 40vw;
  
}

footer {
    height: 100px;
    
    text-align: center;
}

.socialLink {
  width: 4vw;
}



/*@media only screen and (max-width: 980px) {
.content{width:90%;}
}

@media only screen and (max-width: 568px) {
h1{padding:25px 0px;}
h1 span{display:block;}
}

@media only screen and (max-width: 480px) {
section {max-width: 90%;}
}

@media only screen and (max-width: 360px) {
h1{font-size:20px;}
label{padding:5px 0px;}
#logo{font-size: 20px;}
nav{top:47px;}
}

@media only screen and (max-width: 320px) {
h1 {padding: 20px 0px;}*/





.col-sm-8{
  display: flex;
  justify-content: center;
}

#CrossFade {
  display: flex;
  align-items: flex-end;
  width: 90vw;
  height: 90vh;
  overflow: hidden;
  position: relative;
}
#CrossFade img {
  position: absolute;
  
  width: 90vw;
  height: auto;
  
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(1.4) rotate(12deg);
          transform: scale(1.4) rotate(-12deg);
  -webkit-animation: CrossFade 24s infinite;
          animation: CrossFade 24s infinite;
}
#CrossFade img:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
#CrossFade img:nth-child(2) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
#CrossFade img:nth-child(1) {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

@-webkit-keyframes CrossFade {
  25% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@keyframes CrossFade {
  25% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}

/*https://i.imgur.com/YbTL7xU.jpg
https://i.imgur.com/AfT5tFj.jpg
ttps://i.imgur.com/D6vLToO.jpg*/



